@use '../common/_variables.scss' as *;

#parts {
    width: 95%;
    margin: 0 auto;
    margin-bottom: $space-pd;

    h2 {
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: $space-xl;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        li {
            width: calc((100% - 2rem) / 2);
            overflow: hidden;
            position: relative;
            cursor: pointer;

            img {
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .desc {
                color: $light-black;
                position: absolute;
                bottom: 0;
                padding: 0 $space-xl $space-xl;

                h3 {
                    font-size: 3rem;
                    font-weight: 700;
                    margin-bottom: $space-xs;
                }

                p {
                    line-height: 1.5;
                    margin-bottom: $space-md;
                }

                a {
                    display: flex;
                    font-weight: 700;
                }
            }
        }
    }
}