@use './_variables.scss' as *;

.hamburger {
	width: 1.25rem;
	height: 0.8rem;
	position: relative;
	z-index: 1;
	cursor: pointer;

	&::after {
		content: 'Menu';
		position: absolute;
		top: 50%;
		left: 150%;
		transform: translateY(-50%);
	}

	span {
		position: absolute;
		right: 0;
		width: 100%;
		height: 2px;
		background: $pure-white;
		transition: all 0.3s;

		&:nth-child(1) {
			top: 2px;
		}

		&:nth-child(2) {
			bottom: 0;
		}
	}

	&.open {
		&::after {
			content: 'Close';
		}

		span {
			&:nth-child(1) {
				top: 50%;
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				top: 50%;
				transform: rotate(-45deg);
			}
		}
	}
}